<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Task 👀</h1>
</section> 

<div class="container">
    <div class="add-todo-box">

        <form #form="ngForm" (ngSubmit)='onFormSubmit(form)'>
            <h2 class="title is-5">New Task 👨‍💻</h2>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <!-- #todoTextField is a variable of form -->
                <input ngModel #todoTextField="ngModel" required minlength="2" name="text" class="input" type="text" placeholder="Type tasks here 🏗️"></p>
                <p class="control">
                <button type="submit" class="button alt-gardient-button">
                    <i class="material-icons">add_circle</i>
                    Add
                </button>
                </p>
            </div>
                <p class="help is-danger" *ngIf="todoTextField.invalid">Please enter your task of your TODO 📌</p>
                <p class="help is-danger" *ngIf="todoTextField.invalid">Task have almost 2 characters </p>
        </form>        
    </div>
</div>

<div class="section">
    <div class="conrtainer">
    <app-todo-item *ngFor="let todo of todos" 
    [todo]="todo" 
    (todoClicked)="toggleCompleted(todo)"
    (editClicked)="editTodo(todo)"
    (deleteClicked)="deleteTodo(todo)"

    >
    </app-todo-item>
    </div>
</div>
