// Bulma: the modern CSS framework that just works.
@import '../node_modules/bulma/bulma.sass'; 

@import '@angular/material/prebuilt-themes/purple-green.css'; 

html, body { height: 100%; }
body { margin: 0; }

.alt-gardient-button {
    border: none !important;
    background: linear-gradient(rgb(0, 0, 0),rgb(117, 117, 115)); 
    color: rgb(58, 247, 0);
    font-weight: 600; 

    &:hover {
        opacity: 1;
        color: white;
    }
    
    i.material-icons{
        margin-right: 10px;
    }
}

